{% extends "base.html" %}

{% block content %}

<!-- I am using the lesson class for my Stages on this MainPage to keep my css conssistent -->
<div class = "lesson">
	<h2>Stage 1 </h2>
		<!-- I am using concept class to describe my Lesson Links on this MainPage to keep my css conssistent -->
	<div class = "concept">
      	<h3><a href="/Stage1Lesson1">Lesson 1: Basics to Web and HTML</a></h3>
    </div>
	<div class = "concept">
        <h3><a href="/Stage1Lesson2">Lesson 2: Creating a Structured Document</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage1Lesson3">Lesson 3: HTML, CSS and DOM</a></h3>
    </div>	
</div>
<div class = "lesson">
	<h2>Stage 2</h2>	
    <div class = "concept">
        <h3><a href="/Stage2Lesson1">Lesson 1: Introduction to Serious Programming</a></h3>
    </div>	
    <div class = "concept">
        <h3><a href="/Stage2Lesson2">Lesson 2: Variable and Strings</a></h3>
    </div>	
    <div class = "concept">
        <h3><a href="/Stage2Lesson3">Lesson 3: Input -> Function -> Output</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage2Lesson4">Lesson 4: Control Flow and Loop: If and While</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage2Lesson5">Lesson 5: Debugging</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage2Lesson6">Lesson 6: Structured Data: Lists and For Loops</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage2Lesson7">Lesson 7: How to Solve Problems</a></h3>
    </div>
</div>
<div class = "lesson">
	<h2>Stage 3</h2>	
    <div class = "concept">
        <h3>No Notes</h3>
    </div>
</div>
<div class = "lesson">
	<h2>Stage 4</h2>	
    <div class = "concept">
        <h3><a href="/Stage4Lesson1">Lesson 1: Introduction to Networks</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage4Lesson2">Lesson 2: Make the Internet Work for You</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage4Lesson3">Lesson 3: Forms</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage4Lesson4">Lesson 4: Python Break-Modulus and Dictionaries</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage4Lesson5">Lesson 5: Working with App Engine</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage4Lesson6">Lesson 6: Validation</a></h3>
    </div>
    <div class = "concept">
        <h3><a href="/Stage4Lesson7">Lesson 7: HTML Templates</a></h3>
    </div>
</div>
<div class = "lesson">
    <h2>Comments</h2>    
    <div class = "concept">
        <h3><a href="/comments.html">Add Your Comments Here</a></h3>
    </div>
</div>

{% endblock %}