{% extends "base.html" %}

{% block content %}

  <div class = "lesson">
    <h2>Stage 2.5: Debugging</h2>
    <div class ="concept">
      Examine error messages when programs crash
    </div>
    <div class ="concept">
      Work from example code
      <div class ="supporting-info">
        <p class ="indent">Copy and paste your code and comment out the original code.</p>
      </div>
    </div>
    <div class ="concept">
      Make sure examples work
      <div class ="supporting-info">
        <p class ="indent">Test the example code.</p>
      </div>
    </div>
    <div class ="concept">
      Check (print) intermediate results
      <div class ="supporting-info">
        <p class ="indent">This helps you find areas in the code that are not outputting the desired results.</p>
      </div>
    </div>
    <div class ="concept">
      Keep and compare old versions
      <div class ="supporting-info">
        <p class ="indent">Save working versions of the code.  Use version numbers that you can roll back to.</p>
      </div>
    </div>
    <div class ="concept">
      Test often
      <div class ="supporting-info">
        <p class ="indent">Every time you write a new subset of code, test it before moving on.</p>
      </div>
    </div>
  </div>

{% endblock %}