{% extends "base.html" %}

{% block content %}

  <div class = "lesson">
      <h2>Stage 1: Lesson 3:HTML, CSS and DOM</h2>
      <div class = "concept">
          <h3>Avoiding Repetition</h3>
          <div class = "supporting-info">
            CSS allows us to avoid repetition by applying a style to a class of text.  This allows us to avoid adding redundant HTML formatting tags.<br>
          </div>
      </div>
      <div class = "concept">
          <h3>CSS Sumamry and Reference</h3>
          <div class = "supporting-info">
            There are 3 methods for including CSS Styling on a web page.<br>
            <b>Method 1:</b> Write CSS in the &lt;head&gt; of your HTML
            <p class ="indent">* This is good for small projects</p>
            <b>Method 2:</b> Link your HTML to a separate CSS file
            <p class ="indent">* This let's you stay more organized on larger projects.</p>
            <b>Method 1:</b> Write CSS in the &lt;head&gt; of your HTML
            <p class ="indent">* This is generally a very bad idea because it leads to lots of repeated code.</p>
        </div>
      </div>
      <div class = "concept">
          <h3>Code, Test, Refine</h3>
          <div class = "supporting-info">
            <ol>
              <li>Look for natural boxes</li>
              <li>Look for repeated styles and semantic elements</li>
              <li>Write your HTML</li>
              <li>Apply styles (from biggest to smalles)</li>
              <li>Fix things</li>
            </ol>
          </div>
      </div>
      <div class = "concept">
        <h3>Personal Thoughts and Notes</h3>
        <div class = "supporting-info">
        <p>I studied this section 2 to 3 times over.  I wasn't noticing the instructor notes at the bottom of the screen because my screen was too small to see them.  Once I noticed the notes, the videos were easier to follow along with and make senese.  At times it is like drinking out of a firehose and it is difficult to take in all the informaiton (verbally and visually).</p>
        </div>
      </div>
  </div>

{% endblock %}