{% extends "base.html" %}

{% block content %}

  <div class = "lesson">
    <h2>2.7 How to Solve Problems</h2>
    <div class = "concept">
      <h3>Pythonista’s Guide to All Problems in the Galaxy</h3>
      <div class = "supporting-info">
        <ol>
          <li>Don’t Panic</li>
          <li>What are the inputs?</li>
          <li>What are the outputs?</li>
          <li>Work through some examples by hand.</li>
          <li>Simple mechanical solution</li>
          <li>Develop incrementally and test as we go</li>
        </ol>
        Don't optimize prematurely! Simple and correct
      </div>
    </div>
  </div>

{% endblock %}