{% extends "base.html" %}

{% block content %}


  <div class = "lesson">
    <h2>Stage 2.1: Introduction to Serious Programming</h2>
    <div class = "concept">
      <h3>Programming</h3>
      <div class = "supporting-info">
        Toaster vs. Computer
        <ul>
          <li>A toaster is made of mechanical parts that repeat the same tasks over and over.</li>
          <li>A computer uses programs to find their function.  The programs have repeatable and instructions sets to provide the computer function.
        </ul>
      </div>
    </div>
    <div class = "concept">
      <h3>Python</h3>
      <div class = "supporting-info">
        It is a ligh level program or what we call an Interpretor.  It takes code and translates it into another programming language.  Python can be used for creating HTML code quickly.
      </div>
    </div>
    <div class = "concept">
      <h3>Search Engines</h3>
      <div class = "supporting-info">
        These are used every day for searching the web. The 3 main components for building a search engine are:
        <ul>
          <li>Find Data</li>
          <li>Build an Index</li>
          <li>Rank Pages</li>
        </ul>
      </div>
    </div>
    <div class = "concept">
      <h3>Print</h3>
      <div class = "supporting-info">
        In programming this is a way of outputting data. In Python
        this is a command for outputting text or mathematical problems.
      </div>
    </div>
      <div class = "concept">
      <h3>Natural Language vs. Programming Language</h3>
      <div class = "supporting-info">
        <ul>
          <li>Natural Language is ambiguous.  Words like "bi-weekly" may mean multiple things.</li>
          <li>Natural Language is verbose.</li>
          <li>Programming languages have precise grammar also known as “syntax”.</li>
        </ul>
      </div>
    </div>
    <div class = "concept">
      <h3>Backus-Naur Form</h3>
      <div class = "supporting-info">
        &lt;non-terminal&gt; --&gt; replacement
      </div>
    </div>
    <div class = "concept">
      <h3>Python Grammar for Arithmetic Expressions</h3>
      <div class = "supporting-info">
        Expression --&gt; Expression Operator Expression<br>
        Expression --&gt; Number<br>
        Operator --&gt; +<br>
        Operator --&gt; -<br>
        Number --&gt; 0, 1, 2 ...<br>
        Expression --&gt; (Expression)<br>
      </div>
    </div>
  </div>

{% endblock %}