{% extends "base.html" %}

{% block content %}

<div class = "lesson">
      <h2>Stage 1: Lesson2: Creating a Structured Document</h2>
      <div class = "concept">
          <h3>HTML</h3>
          <div class = "supporting-info">
            HTML controls the "structure" of a web page. It is the language of the Internet. Tags are the words.  These tags form a tree like structure.  The tags can have attributes with values.
          </div>
      </div>
      <div class = "concept">
          <h3>CSS</h3>
          <div class = "supporting-info">
            Cascading Style Sheets (CSS) is used to control the "style" of a page (how it looks). It uses syntax and rules to define styles.
          </div>
      </div>
      <div class = "concept">
          <h3>DOM</h3>
          <div class = "supporting-info">
            Document Object Model (DOM) is a tree like structure found in HTML.
        </div>
      </div>
</div>

{% endblock %}